
#container{
	width: 800px;
	margin: 0 auto;
	height: auto;
	background-color: #ffffff;
}
body {
	margin: 0;
	padding: 0;
	font: normal small sans-serif;
	background-color: #c2d1e7;
	color: #1c3861;
}

h1, h2, h3, h4, h5, h6 {
	color: #000000;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

#header {
	padding-top: 10px;
	width: 700px;
	height: 140px;
	margin: 0 auto;
}


#logo {
	margin: 0 auto;
	float: left;

}
#logo * {

	font-family: 'Arial Narrow Bold', sans-serif;
	font-weight: bold;
	color: #004bad;
}

#logo h1 {
	letter-spacing: -2px;
	font-size: 2.8em;
}

#logo h2 {
	margin-top: -5px;
	padding-left: 2px;
	font-size: 1em;
}


#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 22px;
	margin-left: 2px;
	padding: 8px 15px 0 15px;
	border: 1px solid #b9bacc;
	text-decoration: none;
	color: #000000;
}

#menu .active a, #menu a:hover {
	height: 23px;
	background: #EFF0EB;
}



#content {
	width: 700px;
	margin: 0 auto;
}



#colOne {
	float: right;
	width: 470px;
}

#colOne .post {
	clear: both;
	margin-bottom: 3em;
}

#colOne .title {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #C9CCB9;
	font-size: 1.6em;
}

#colOne .posted, #colOne .meta {
	margin: 0;
	text-align: right;
	font-size: xx-small;
}

#colOne .posted {
	margin-top: -13px;
}

#colOne .meta {
	border-top: 1px solid #bbb9cc;
}

#colOne .meta p {
	margin: 0;
}


#colTwo {
	float: left;
	width: 200px;
}

#colTwo #textfield1 {
	width: 170px;
}

#colTwo #submit1 {
	display: none;
}

#colTwo ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#colTwo li h2 {
	margin: 0;
	padding: 0;
	line-height: 100%;
}

#colTwo li h2 span {
	margin: 0;
	padding: 5px 10px;
	border: 1px solid #bbb9cc;
	border-bottom: none;
	text-transform: uppercase;
	font-size: 10px;
}

#colTwo li ul, #colTwo li form {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #bbb9cc;
}



#footer {
	width: 700px;
	margin: 0 auto;
	padding: 1em;
	border-top: 1px solid #bbb9cc;
}

#footer p {
	font-size: xx-small;
}